#nprogress .bar {background:#23c3ff; position: fixed; z-index: 1031; top:0; left:0;width:100%; height:7px;}
.fade { transition: all 300ms linear 300ms;opacity: 1;}
.fade.out {opacity: 0;}
#header_test{
	position:absolute;
	left:0; 
	right:0;
	width:96%
	 margin:0 auto;
	 top:0; 
}
	#visual_test{
	height:900px;
	background:url(../img/sub_ourwork/sub_work_main.jpg) no-repeat center;
	background-size:cover;
	position:relative;
}
	#visual_content_test{
	position:absolute; left:0; right:0; margin:0 auto; z-index:100; 
	width:100%; 
	top:50%;
	font-size:13px;
	line-height:22px;
	color:#fff; 
	text-align:Center;
	margin-top:-100px; 
}
	#visual_content_test h2{
	font-size:80px;
	color:#fff;
	font-weight:200;
	line-height:1.2;
}
	#visual_content_test h2 span{color:#23c3ff;}

#container h2{font-size: 36px;}
#container .paragraph{
    font-size: 15px; line-height: 26px;
    color: #636363;
}
#container .btn_detail{
    font-size: 17px; line-height: 26px;
    color: #363636;
}


#container .ourwork .txt_wrap{
    width: 1200px; margin: 0 auto;
    padding: 90px 0;
}
#container .ourwork .txt_wrap h3{
    font-size: 36px; line-height: 48px;
    color: #2d2d2d;
}
#container .ourwork .txt_wrap p{font-size: 14px; line-height: 24px;}
#container .ourwork .txt_wrap p.txt1{color: #636363; margin: 50px 0;}
#container .ourwork .txt_wrap p.txt2{color: #636363;}

#container .ourwork .imglist li{
    width: 50%; height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#container .ourwork .imglist li.box1{
    text-indent: -9999px;
    background-image: url("../img/sub_workview/work_view01.jpg");
}
#container .ourwork .imglist li.txt_box{
    line-height: 24px;
    font-size: 15px; color: #fff;
    padding: 5% 10% 0 5%;
    background-image: url("../img/sub_workview/work_view_bg.jpg");
}
#container .ourwork .imglist li.txt_box h4{
    font-size: 20px; line-height: 48px;
    margin-bottom: 50px;
}
#container .ourwork .imglist li.txt_box .txt1{margin-bottom: 40px;}


#container .cont_mid{
    width: 1200px; margin: 0 auto;
    padding: 100px 0;
}
#container .cont_mid p{
    color: #636363;
    font-size: 15px; line-height: 24px;
}
#container .cont_mid p.txt2{
    margin-top: 30px;
    margin-bottom: 50px;
}


#container .contact{
    text-align: center; color: #fff;
    background-image: url("../img/main/contact_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0; 
}
#container .contact h2{text-indent: 0;}
#container .contact .contact_text1{
    font-size: 15px; text-indent: 0;
    margin: 20px 0 50px 0;
}
#container .contact .btn_detail{color: #fff; font-weight: bold;}



@media screen and (max-width: 1200px){
    /*#header .main_banner{height: 780px;}
    #header .main_banner h1{font-size: 45px;}*/

	#visual_content_test{top:35%;}
	#visual_content_test h2{font-size:50px;}
	#visual_content_test p{font-size:13px;}  
	#visual_test{height:400px;}
    
    #container h2{font-size: 30px;}
    #container .paragraph{font-size: 90%;}
    
    #container .ourwork .txt_wrap{width: 90%;}
    #container .ourwork .txt_wrap p{font-size: 13px;}
    #container .ourwork .txt_wrap p.txt1{margin: 5% 0;}
    
    #container .ourwork .imglist li{
        width: 100%; height: 720px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    #container .ourwork .imglist li.box1{
        background-image: url("../img/sub_workview/work_view01.jpg");
    }

    
    
    #container .cont_mid{width: 90%;}
    #container .cont_mid p{font-size: 13px;}
    
    #container .contact{padding: 100px 0;}
    #container .contact .contact_text1{font-size: 90%;}
}



@media screen and (max-width: 640px){
    #header .main_banner{height: 450px; padding-top: 150px;}
    #header .main_banner h1{font-size: 30px; line-height: 35px;}
    
    #container .ourwork .txt_wrap{width: 87.5%;}
    #container .ourwork .txt_wrap h3{font-size: 30px;}

    #container .ourwork .imglist li{height: 500px;}
    #container .ourwork .imglist li.txt_box{padding: 5% 5% 0 5%;}
    #container .ourwork .imglist li.txt_box p{font-size: 80%; line-height: 24px;}

    #container .cont_mid{width: 87.5%; padding: 5% 0;}
    #container .cont_mid p{font-size: 85%;}

    #container .contact{padding: 50px 0;}
}
